site_name: pyliquibase
site_url: https://memiiso.github.io/pyliquibase
repo_url: https://github.com/memiiso/pyliquibase
edit_uri: edit/main/docs/

theme:
  name: material
  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: indigo
      accent: indigo
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: indigo
      accent: indigo
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  features:
    - navigation.indexes
    - navigation.tabs
    - navigation.top
    - toc.integrate
    - content.code.copy
    - content.tabs.link

nav:
  - Home: index.md
  - Installation: installation.md
  - Usage: usage.md

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - admonition
  - pymdownx.details
  - abbr
  - toc:
      permalink: true
