name: Build and Test

on:
  push:
    branches: [ master ]
    paths-ignore:
      - '.github/**'
      - '.idea/**'
      - '.run/**'
  pull_request:
    branches: [ master ]
    paths-ignore:
      - '.github/**'
      - '.idea/**'
      - '.run/**'

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [ "3.7", "3.8", "3.9", "3.10", "3.11" ]

    steps:
      - uses: actions/checkout@v4
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Build & Install
        run: |
          python3 --version
          python3 -m pip install coverage pylint pytest
          python3 -m compileall -f pyliquibase setup.py
          python3 setup.py -q install --user
          python3 -m coverage report -m ./pyliquibase/*.py setup.py
          python3 -m coverage run --source=./tests/ -m unittest discover -s tests/
          python3 -m pylint pyliquibase setup.py

      - name: Test with Unittest
        run: |
          python3 -m coverage run --source=./tests/ -m unittest discover -s tests/
          python3 setup.py -q install --user
          bash tests/test_pyliquibase_version.sh
          cd tests
          pyliquibase --defaultsFile=resources/liquibase.properties updateSQL
